<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newShow.css') }}">    

    <title>Add Show</title>
</head>
<body>
    <div class="bg">
        <div class="wrapper">
            <h1>Add New Show</h1>
        <div class="dm">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        </div>
        <form action="/addShow" method="POST">
        <!-- <input type="hidden" name='which_form' value='add_show'> -->
        Title: <input type="text" name="title">
        Network: <input type="text" name="network">
        Realease Date: <input type="date" name="release_date">
        Description: <textarea name="description" cols="30" rows="10"></textarea>
        <input type="submit">
        </form>
        <div class="atags">
        <a id="a1"href="/dashboard">Tv Shows</a>|<a id="a2"href="/logout">Logout</a>
        </div>
    </div>
    </div>
</body>
</html>